
<h1 class="text-center"><%= cover.title %></h1>

<div class="position-absolute top-0 end-0 red-corner">
<p>Nom:<%= cover.user.name.upcase %></p>
<p>PRENOM: <%= cover.user.first_name.capitalize() %></p>
<p>Mail: <%= cover.user.email %></p>
</div>