// Define variables for your color scheme

// For example:
$color7:#88DEB0;
$color6: #69C6AF;
$color5: #4EADAF;
$color4: #377A98;
$color3: #244A80;
$color2: #152069;
$color1: #140951;
$color0: #140850;
$green: #1EDD88;
$black: #0E0000;
$light-gray: #F4F4F4;
