// Specific CSS for your home-page
html,
body,
header,
#intro {
    height: 500px;
}

#intro {
    background: asset-url("background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  .imglock {
    opacity: 0.8;
  }

 
  .whitefont {
    color: white;
  }

  .centertexthome {
    text-align: center; 
  }

  .img-fluid {
    height: 220px;
  }

  .d-block {
    margin-left: 30px;
  }