  <!--Main Navigation-->
            <!--Mask-->
        <div id="intro" class="view">

            <div class="mask rgba-black-strong">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2 whitefont ">Rentease</h2>

                            <!-- Divider -->
                            <hr class="hr-light">

                            <!-- Description -->
                            <h4 class="white-text my-4 whitefont">La location simple 
                            et sûre.</i></h4>

                            <h4 class="whitefont">Sécurisez votre dossier de location maintenant</h4>
                            <br>
                        <%= link_to 'Start', new_apply_path, class:"bcta" %>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--/.Mask-->
    </header>
    <!--Main Navigation-->

     <!--Section: Gallery-->
            <section id="gallery">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center"></h2>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        
                            <div class="carousel-inner z-depth-1-half" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100 imglock" src="https://wallpaperaccess.com/full/2655666.jpg"
                                        alt="First slide">
                                </div>
                                <!--/First slide-->

                               
                            </div>
                            

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 d-flex align-items-center">
                    <div>

                        <!--Excerpt-->
                        <h4 class="mb-3 centertexthome"><strong>Le Problème</strong></h4>
                        <h4 class="mb-3 centertexthome">210 000 usurpations d'identité par an en France</h4>
                        <br></br>
                        <p class="centertexthome">Lors d’un processus de location, nous partageons de nombreux documents d’identité</p>
                        <p class="centertexthome">Mais transmettre ses documents personels est très dangereux!</p>
                        <p class="centertexthome">Or il n’existe pas aujourd’hui de moyen permettant aux propriétaires, aux locataires et aux agences de contractualiser de manière sécurisée.</p>
                        <br></br>
                        <p class="centertexthome"><strong><i class="fa fa-heart" aria-hidden="true"></i> Rentease vous propose une solution <i class="fa fa-heart" aria-hidden="true"></i></strong></p>
                        
                    </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Gallery-->


    <!--Main layout-->
    <main class="mt-5">
        <div class="container">

            <!--Section: Best Features-->
            <section id="best-features" class="text-center">
         <hr class="my-5">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Notre Mission</h2>

                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">

                    <!--Grid column-->
                    <div class="col-md-8">

                        <!-- Description -->
                        <p class="grey-text">Nous rendons les formalités de location <strong>simples</strong> et <strong>sûres</strong> pour les locataires et les propriétaires</p>
                        
                        <p class="grey-text">Nous vous aidons à constituer votre dossier de location <strong>rapidement</strong> et à <strong>protéger votre identité</strong></p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-fast-forward fa-4x" aria-hidden="true"></i>
                        <h4 class="my-4 font-weight-bold">Simplifier</h4>
                        <p class="grey-text">Vous avez juste à télécharger vos documents, nous nous occupons du reste.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                       <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
                        <h4 class="my-4 font-weight-bold">Sécuriser</h4>
                        <p class="grey-text">Nous utilisons des watermarks pour rendre vos documents inutilisable par les usurpateurs d'identité.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                        <h4 class="my-4 font-weight-bold">Partager</h4>
                        <p class="grey-text">Nous générons pour vous un document unique que vous pouvez partager aux personnes de votre choix grace à un lien sécurisé.</p>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Best Features-->

            <hr class="my-5">

            <!--Section: Examples-->
            <section id="examples" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Témoignages</h2>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://media.istockphoto.com/photos/home-office-picture-id1205852013?b=1&k=6&m=1205852013&s=170667a&w=0&h=TMdJva1rd9D1Er2qtFQc54NjA_ZTt7RciB7mjN5rQyY=" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h4 class="my-4 font-weight-bold">Adrien</h4>
                        <p class="grey-text">Depuis deux ans un usurpateur utilise mon identité pour souscrire des prêts à la consomation. Si j'avais pu utiliser Rentease ma vie n'aurais pas tourné au cauchemard.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.stewardship.org.uk/sites/default/files/styles/hero/public/2021-05/story-generosity-of-our-testimony.jpg?h=eff7eb96&itok=nV6JboXx" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h4 class="my-4 font-weight-bold">Léa et ses amis</h4>
                        <p class="grey-text">Nous avons utilisé Rentease pour créer notre dossier facilement. Notre propriétaire à beacuoup apprécié la facilité de recevoir seulement 4 dossiers uniques plutot que de nombreuses piéces jointes mal ordonnées.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://cache.magicmaman.com/data/photo/w1000_ci/54/couple-illustrations.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h4 class="my-4 font-weight-bold">Brice et Carla</h4>
                        <p class="grey-text">Brice avait eu une mauvaise expérience sur Leboncoin à cause d'un faux propriétaire spécialisé dans l'usurpation d'identité. Cette fois-çi tout s'est bien passé grâce à Rentease.</p>

                    </div>
                    <!--Grid column-->

                
                <!--Grid row-->

            </section>
            <!--Section: Examples-->

        </div>
    </main>
    <!--Main layout-->
