.navbar-lewagon {
  justify-content: space-between;
  background: #140850;
  color: #FFFFFF;
  font-size: 0.875rem;
  ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
