.navbar-lewagon {
  justify-content: space-between;
  background: #140850;
  font-size: 0.875rem;
  .nav-link {
    color: #FFFFFF !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
